@media (max-width: 1100px){
    .goods__inner{
        justify-content: flex-start;
    }
    .goods__item{
        width: 32%;
    }

    #largeImage{
        width: 90%;
    }
    #thumbs img{
        width: 20%;
    }
    /* .catalog__item__inner{
        flex-direction: column;
    } */
}
@media (max-width: 942px){
    .catalog__item__main{
        max-width: 510px;
    }
    #largeImage{
        width: 90%;
    }
    #thumbs img{
        width: 20%;
    }

}
@media (max-width: 750px){
    .footer__inner{
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .footer__item{
        width: auto;
    }
    .payment {
        align-items: center;
    }
    .payment ul{
        text-align: center;
        padding: 0;
    } 

    .catalog__item__inner{
        flex-direction: column;
        align-items: center;
    }
    #largeImage{
        width: 90%;
    }
    #thumbs img{
        width: 20%;
    }
}
@media (max-width: 650px){
    .goods__inner{
        flex-direction: column;
        align-items: center;
    }
    .goods__item{
        width: 280px;
    }

    #largeImage{
        width: 90%;
    }
    #thumbs img{
        width: 20%;
    }

    .catalog__item__main{
    padding-left: 20px;
    padding-right: 20px;
    }
}
@media (max-width: 535px){
    .header__top__inner{
        flex-direction: column;
    }
    .logo{
        margin-bottom: 15px;
    }
    h1{
        font-size: 20px;
    }
    .navigation nav ul{
        flex-direction: column;
        height: auto;
    }
    .navigation nav ul li{
        padding: 10px 0;
        border-right: 0;
    }
}
@media (max-width: 430px){
    .add__to__sc{
        flex-direction: column;
    }
    .add__to__sc__btn{
        margin-bottom: 10px;
    }
    .catalog__social{
        display: flex;
        justify-content: center;
    }
    .catalog__social a{
        margin: 0 4px;
    }
}

